{% load static %}
<!DOCTYPE html>
<html xml:lang>
  <head>
    <meta charset="UTF-8" />
    <title>Cadastrar Tradução</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    {% include 'header.html' %}

    <div class="box-admin-register">
      {% block content %}

      <form action="/traducao/adicionar_palavra/" method="POST">
        {% csrf_token %}
        
        {% for error in form.kokama_word.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        <div class="input-box">
          {{ form.kokama_word }}
          <label>Palavra em Kokama:</label>
        </div>

        {% for error in form.portuguese_word.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        <div>
          <div class="input-box">
            {{ form.portuguese_word }}
            <label>Palavra em Português:</label>
            
        </div>

        {% for error in form.type_pronunciation.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        <div class="drop-down-box">
          <label class="drop-down-text" for="type_pronunciation">
            Escolha um tipo de pronúncia:
          </label>
          {{ form.type_pronunciation }}
        </div>

        {% for error in form.phrase_portuguese.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        <div class="input-box">
          {{ form.phrase_portuguese }}
          <label>Frase em Português:</label>
        </div>

        {% for error in form.phrase_kokama.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        <div class="input-box">
          {{ form.phrase_kokama }}
          <label>Frase em Kokama:</label>
        </div>

        <input
          class="submit-buttom"
          name="submit"
          type="submit"
          value="Enviar"
        />
      </form>
      {% endblock %}
    </div>
  </body>
</html>
