{% load static %}
<!DOCTYPE html>
<html xml:lang>
  <head>
    <meta charset="UTF-8" />
    <title>Cadastrar Tradução</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
<body>
  <div class='header'>
    <div style="align-items: center;">
      <img class='logo' src='https://github.com/fga-eps-mds/2020.2-Projeto-Kokama-Wiki/raw/main/docs/assets/img/logo.png'>   
      <h2 style="display:inline-block;">Projeto Kokama</h1> 
    </div>
      <div>
          <nav>
            <ul style="padding:0px; margin:0px; list-style:none;">
              <li style="display: inline;">
                  <a style="padding: 2px 10px; display: inline-block; color: #333; text-decoration: none; border-bottom:3px solid #EDEDED;"
                  href="/traducao/lista_de_palavras/"> Lista de Palavras </a>
              </li>
              <li style="display: inline;">
                <a style="padding: 2px 10px; display: inline-block; color: #333; text-decoration: none; border-bottom:3px solid #EDEDED;"
                href="/admin_register/"> Cadastro de Administrador </a>
              </li>
              <li style="display: inline;">
                  <a style="padding: 2px 10px; display: inline-block; color: #333; text-decoration: none; border-bottom:3px solid #EDEDED;"
                  href="/admin/"> Admin </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
  
  </div>
</body>
</html>


