{% load static %}
<!DOCTYPE html>
<html xml:lang>


<head>
    <meta charset="UTF-8" />
    <title>Lista de Palavras Dicionário</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    {% include 'header.html' %}
    
    <div class='box-list'>

        <div class='title-box'>
            <h1 class='box-title'>Lista de Palavras em Kokama</h1>
            <a class='add-buttom' href="/traducao/adicionar_palavra/">Adicionar Palavras</a>
        </div>
        


        {% for item in object %}
        <div class='word-list'>
            <a href="" class='word-kokama'>{{ item.word_kokama}}</a>
        </div>
        {% empty %}
        <div class='word-list'>
            <a class='list-word'>Não há palavras cadastradas</a>
        </div>
        {% endfor %}
    </div>

</body>

</html>
</div>
