{% extends 'base.html' %}

{% block title %}Lista de Palavras{% endblock %}

{% block content %}

    <div id='content-box'>

        <div id='content-top'>
            <h1 id='content-title'>Lista de Palavras</h1>
            <a class='add-buttom' href="/traducao/adicionar_palavra/">Adicionar Palavras</a>
        </div>

        <div id="word-list">
            {% for word in words %}
            <div class="word-area">
                <span class="word"><a href="{{word.word_kokama.id}}">
                    {{ word.word_kokama }} - {{ word.translations }}
                </a></span>
                <span>
                    <a href="/traducao/lista_de_palavras/{{word.word_kokama.id}}/delete/" onclick="return confirm('Cuidado, essa operação não pode ser desfeita!');">
                        <em class="fas fa-trash"></em>
                    </a>    
                </span>
                <span>
                    <a href="/traducao/lista_de_palavras/{{word.word_kokama.id}}/editar/">
                        <em class="fas fa-edit"></em>
                    </a>    
                </span>
            </div>
            {% empty %}
            <div class='word-list'>
                <h3>Não há palavras cadastradas</h3>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
