{% load static %}
<!DOCTYPE html>
<html xml:lang>
  <head>
    <meta charset="UTF-8" />
    <title>Visualizar Tradução</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    {% include 'header.html' %}

    <div class="box-admin-register">

        <h1>{{ kokama.word_kokama }}</h1>
        <p>{{ portuguese.word_portuguese }}</p>
        <p>{{ kokama.pronunciation_type }}</p>
        <p>{{ phrase_kokama.phrase_kokama }}</p>
        <p>{{ phrase_portuguese.phrase_portuguese }}</p>

    </div>
  </body>
</html>

