{% extends 'base.html' %}

{% block title %}Adicionar dados{% endblock %}

{% block content %}

<div id="content-box">

  <h1 id='content-title'>Adicionar novos dados</h1>

  <form method="POST">
    {% csrf_token %}

    {% if form.portuguese_word %}
      {% for error in form.portuguese_word.errors %}
      <p style="color: red">{{ error }}</p>
      {% endfor %}
      <div class="input-box">
        {{ form.portuguese_word }}
        <label>Palavra em Português:</label>
      </div>
    {% endif %}

    {% if form.phrase_kokama %}
      {% for error in form.phrase_kokama.errors %}
      <p style="color: red">{{ error }}</p>
      {% endfor %}
      <div class="input-box">
        {{ form.phrase_kokama }}
        <label>Frase em Kokama:</label>
      </div>

      {% for error in form.phrase_portuguese.errors %}
      <p style="color: red">{{ error }}</p>
      {% endfor %}
      <div class="input-box">
        {{ form.phrase_portuguese }}
        <label>Frase em Português:</label>
      </div>
    {% endif %}

    <input class="submit-buttom" name="submit" type="submit" value="Salvar" />
  </form>

</div>

{% endblock %}