body {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.input-box {
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  /* border: 1px solid red; */
}

.input-box label {
  position: absolute;
  left: 0;
  letter-spacing: 1px;
  padding: 10px 0;
  font-size: 16px;
  color: #000000;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000000;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  background: transparent;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -18px;
  left: 0;
  color: #f23232;
  font-size: 12px;
}

.box-list {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  text-align: center;
  justify-self: center;
  align-self: center;
  width: 650px;
  padding: 40px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}

.box-admin-register {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  text-align: center;
  justify-self: center;
  align-self: center;
  width: 400px;
  padding: 40px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}

.submit-buttom {
  background: #f23232;
  width: 100%;
  border: 1px solid transparent;
  outline: none;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.submit-buttom:hover {
  background-color: #ffffff;
  border: 1px solid #f23232;
  color: #000000;
}

.header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000000;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  width: 45px;
  height: 45px;
  align-self: center;
  position: relative;
  top: 15px;
}

.logo:hover {
  opacity: 60%;
}

.logo-text {
  font-size: 20px;
  margin-left: 20px;
  color: #000000;
  text-decoration: none;
}

.logo-text:hover {
  color: #f23232;
}

.drop-down-box {
  display: flex;
  position: relative;
  left: 0;
  color: #f23232;
  font-size: 12px;
}

.drop-down-text {
  position: absolute;
  top: -18px;
  letter-spacing: 1px;
}

.drop-down-box select {
  border: none;
  outline: none;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #000000;
  background-color: #ffffff;
  width: 100%;
  font-size: 16px;
  letter-spacing: 1px;
}

.word-kokama {
  font-size: 16px;
  color: #000000;
  letter-spacing: 1px;
  left: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  padding-left: 10px;
}

.word-kokama:hover {
  color: #f23232;
}

.word-list {
  display: flex;
  flex-direction: row;
}

.box-title {
  font-size: 18px;
  color: #000000;
  letter-spacing: 1px;
  left: 0;
}

.icon {
  color: #000000;
}

.icon:hover {
  color: #f23232;
}

.title-box {
  display: flex;
  justify-content: space-between;
}

.add-buttom {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 1px;
  left: 0;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none;
  background-color: #f23232;
  align-items: center;
  border-radius: 7px;
}

.add-buttom:hover {
  background-color: #ffffff;
  border: 1px solid #f23232;
  color: #000000;
}

.list-word {
  font-size: 16px;
  color: #000000;
  letter-spacing: 1px;
  left: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  padding-left: 10px;
}