* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  align-content: center;
  flex-direction: column;
}

/* Header */

#header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000000;
  justify-content: space-between;
}

#logo-and-title {
  align-items: center;
}

#logo {
  display: inline-block;
  width: 45px;
  height: 45px;
  align-self: center;
  position: relative;
  top: 15px;
  padding: 0 10px;
}

#title {
  font-size: 24px;
  display:inline-block;
  cursor: default;
}

/* Navbar */
#top-navbar ul {
  position: relative;
  right: 15px;
  padding:0px;
  margin:0px;
  list-style:none;
}

#top-navbar li {
  font-size: 18px;
  display: inline;
  margin-left: 10px;
}

#top-navbar li a {
  padding: 2px 10px;
  display: inline-block;
  color: #333;
  text-decoration: none;
  border-bottom:3px solid #EDEDED;
}

#top-navbar li a:hover {
  border-bottom:3px solid #F23232;
}

/* Content */
#content-box {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  text-align: center;
  align-self: center;
  width: 700px;
  padding: 40px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}

#content-top {
  display: flex;
  justify-content: space-between;
}

#content-title {
  font-size: 26px;
  line-height: 25px;
  color: #000000;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.add-buttom {
  display: flex;
  height: 35px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border: 1px solid #f23232;
  letter-spacing: 1px;
  margin: 3px 0;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #f23232;
  align-items: center;
  border-radius: 7px;
  transition: 0.35s;
}

.add-buttom:hover {
  background-color: #ffffff;
  border: 1px solid #f23232;
  color: #000000;
}

#word-list {
  margin-top: 30px;
}

.word-area {
  height: 40px;
  border: 1px dashed #EDEDED;
}

.word {
  font-size: 20px;
  float: left;
  line-height: 40px;
  margin-left: 10px;
}

.word a {
  padding: 6px 0;
  text-decoration: none;
  color: #000000;
  transition: 0.2s;
}

.word a:hover {
  color: #F23232;
}

.fas.fa-trash {
  cursor: pointer;
  font-size: 15px;
  padding: 13px;
  float: right;
  color: #DB1E47;
}

/* Forms */
.input-box {
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

.input-box label {
  position: absolute;
  left: 0;
  letter-spacing: 1px;
  padding: 10px 0;
  font-size: 16px;
  color: #000000;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000000;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  background: transparent;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -18px;
  left: 0;
  color: #f23232;
  font-size: 12px;
}

.drop-down-box {
  display: flex;
  color: #f23232;
}

.drop-down-text {
  position: absolute;
  top: -18px;
  letter-spacing: 1px;
}

.drop-down-box select {
  border: none;
  outline: none;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #000000;
  background-color: #ffffff;
  width: 100%;
  font-size: 16px;
  letter-spacing: 1px;
}

.submit-buttom {
  background: #f23232;
  width: 35%;
  border: 1px solid transparent;
  outline: none;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  transition: 0.35s;
}

.submit-buttom:hover {
  background-color: #ffffff;
  border: 1px solid #f23232;
  color: #000000;
}

/* View word */
.kokama-word {
  font-size: 38px;
  padding: 0;
  margin: 0;
}

#pronunciation {
  font-size: 24px;
  padding: 0;
  margin: 0;
  color: #909090;
}

.word-content {
  display: flex;
  justify-content: space-between;
  border-top: 3px solid #F23232;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  align-items: center;
}

.word-content a {
  text-decoration: none;
}

.label {
  font-size: 23px;
  font-weight: bold;
  text-align: left;
}

.portuguese, .phrase {
  font-size: 22px;
  padding: 0;
  margin: 10px 0 0 20px;
  padding-bottom: 10px;
  text-align: left;
  margin-left: 20px;
}


