{% block content %}

<link rel="stylesheet" type="text/css"
href="https://res.cloudinary.com/da4ebtflu/raw/upload/v1616543772/style_ywhhmx.css">

  
<div class = "box">
  <h2>Cadastrar novo Administrador</h2>
  <form action = "/admin_register/" method="post">
    {% csrf_token %}
    
    {% for error in form.username.errors %}
      <p style="color: red">{{ error }}</p>
    {% endfor %}
    <div class = "input-box">
      <input name = 'username' type='text' required>
      <label>Nome de usuário:</label>
    </div>
    {% for error in form.password1.errors %}
      <p style="color: red">{{ error }}</p>
    {% endfor %}
    <div class = "input-box">
      <input name = 'password1' type='password' required>
      <label>Senha:</label> 
    </div>
    {% for error in form.password2.errors %}
      <p style="color: red">{{ error }}</p>
    {% endfor %}
    <div class = "input-box">
      <input name = 'password2' type='password' required>
      <label>Confirme a senha:</label> 
    </div>
  
    <input value="Cadastrar" name="submit" type="submit">
  </form>
</div>
  
{% endblock %}
