{% load static %}
{% block content %}


<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class='header'>

  <a href="/traducao/lista_de_palavras/">
    <img alt class='logo'
      src='https://github.com/fga-eps-mds/2020.2-Projeto-Kokama-Wiki/raw/main/docs/assets/img/logo.png'>
  </a>

  <a class='logo-text' href="/traducao/lista_de_palavras/">Projeto Kokama</a>
</div>

<div class="box-admin-register">
  <h2>Cadastrar novo Administrador</h2>
  <form action="/admin_register/" method="post">
    {% csrf_token %}

    {% for error in form.username.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
    <div class="input-box">
      <input name='username' type='text' required>
      <label>Nome de usuário:</label>
    </div>
    {% for error in form.password1.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
    <div class="input-box">
      <input name='password1' type='password' required>
      <label>Senha:</label>
    </div>
    {% for error in form.password2.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
    <div class="input-box">
      <input name='password2' type='password' required>
      <label>Confirme a senha:</label>
    </div>

    <input class='submit-buttom' value="Cadastrar" name="submit" type="submit">
  </form>
</div>

{% endblock %}
