<div id="header">

  <div id="logo-and-title">
    <img id="logo" src='https://github.com/fga-eps-mds/2020.2-Projeto-Kokama-Wiki/raw/main/docs/assets/img/logo.png'>
    <h2 id="title">Projeto Kokama</h1>
  </div>

  <nav id="top-navbar">
    <ul>
      <li>
        <a href="/traducao/lista_de_palavras/">
          Lista de Palavras
        </a>
      </li>
      <li>
        <a href="/admin_register/">
          Cadastro de Administrador
        </a>
      </li>
      <li>
        <a href="/admin/">
          Admin
        </a>
      </li>
    </ul>
  </nav>

</div>