<div class='header' style="justify-content: space-between;">
        <a style="display:inline-flex;" href="/traducao/lista_de_palavras/">
            <img alt class='logo'
                src='https://github.com/fga-eps-mds/2020.2-Projeto-Kokama-Wiki/raw/main/docs/assets/img/logo.png'>
        </a>
    
        <a style="display:inline-flex;" class='logo-text' href="/traducao/lista_de_palavras/">Projeto Kokama</a>
    <div>
        <nav>
          <ul style="padding:0px; margin:0px; list-style:none;">
            <li style="display: inline;">
                <a style="padding: 2px 10px; display: inline-block; color: #333; text-decoration: none; border-bottom:3px solid #EDEDED;"
                href="/traducao/lista_de_palavras/"> Lista de Palavras </a>
            </li>
            <li style="display: inline;">
              <a style="padding: 2px 10px; display: inline-block; color: #333; text-decoration: none; border-bottom:3px solid #EDEDED;"
              href="/admin_register/"> Cadastro de Administrador </a>
            </li>
            <li style="display: inline;">
                <a style="padding: 2px 10px; display: inline-block; color: #333; text-decoration: none; border-bottom:3px solid #EDEDED;"
                href="/admin/"> Admin </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

</div>
  
